<div id="header">
    <a href="#">고객센터</a>
    <a href="#">빠른메뉴</a>
    <div id="login">
        <a href="" target="">로그인</a>
        <a href="#">회원가입</a>
        <a href="#">장바구니</a>
        <a href="">고객센터</a>
    </div>
</div>
<!-- 로고 부분 -->
<div id="logo">
    <a href="#"><h1>CENTCLO</h1></a>
</div>
<!-- 카테고리 -->
<div class="border">
    <div id="Category1">
        <a href="sub.html">Outer</a>
        <a href="sub.html">Top</a>
        <a href="sub.html">Shirt</a>
        <a href="sub.html">Pants</a>
        <a href="sub.html">Shoes</a>
        <a href="sub.html">Acc</a>
    </div>
</div>

<!-- 광고 -->
<div class="Mainvisual">
    <div id="Mainvisualimage">
    </div>
</div>
