@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
}

ul,
li,
ol,
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

#fix {
  border: 2px solid #000;
  width: 7%;
  border-radius: 50% 50% 50% 50%;
  height: 90px;
  float: right;
  overflow: hidden;
}

#fix a {
  position: relative;
  left: -5px;
  top: 40%;
  padding: 35px;
  border-radius: 50%;
  overflow: hidden;
}
